footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons__img {
  width: 30px;
}
